.Header {
  align-items: center; 
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1080px;
}

.Header nav a {
  color: black;
  font-size: 24px;
  font-weight: normal;
  margin: 0 10px;
  text-decoration: none;
}

.Header nav a:hover {
  color: green;
}

/* home styling  */

.Home {
  margin: 0 auto;
  max-width: 100px;
  
}